In [189]:
# Import Dependencies
import pandas as pd
import numpy as np

In [217]:
# Create reference to CSV file
csv_path = "Resources/purchase_data.csv"

heroes_pd = pd.read_csv(csv_path)
heroes_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [191]:
heroes_pd.count(axis = 0)

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [192]:
unique_dups = heroes_pd.drop_duplicates(subset ="SN",keep='first')

In [193]:
heroes_pd.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [194]:
print("Player Count")

Player Count

In [195]:
unique_items = heroes_pd["Item ID"].unique()
len(unique_items)

183

In [196]:
heroes_price = heroes_pd['Price'].mean()
heroes_price

3.050987179487176

In [197]:
heroes_purchases = heroes_pd['Purchase ID'].count()
heroes_purchases

780

In [198]:
heroes_revenue = heroes_pd['Price'].sum()
heroes_revenue

2379.77

In [199]:
print("Gender Demographics")

Gender Demographics

In [200]:
import pandas as pd
Summary = {'Number of Unique Items': [len(unique_items)], 
           'Average Price': [heroes_price], 
           'Number of Purchases': [heroes_purchases], 
           'Total Revenue': [heroes_revenue]}
Summary1 = pd.DataFrame(Summary)
Summary1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [201]:
print("Purchasing Analysis (Total)")

Purchasing Analysis (Total)

In [202]:
# Count of Male Players
# Male
heroes_df_male = heroes_pd[heroes_pd['Gender'] == 'Male']
heroes_df1 = heroes_df_male['SN'].unique()
#.unique()
heroes_df1 = len(heroes_df1)
heroes_df1

484

In [203]:
# Female
heroes_df_male = heroes_pd[heroes_pd['Gender'] == 'Female']
heroes_df2 = heroes_df_male['SN'].unique()
heroes_df2 = len(heroes_df2)
heroes_df2

81

In [204]:
heroes_df_players = pd.DataFrame(heroes_pd['SN'].unique())
heroes_df_players = len(heroes_df_players)
print('Amount of players = ' + str(heroes_df_players))

Amount of players = 576

In [205]:
# Percentage Male and Female  
heroes_male_p = (heroes_df1/heroes_df_players) * 100
heroes_female_p = (heroes_df2/heroes_df_players) * 100
remaining = heroes_df_players - heroes_df1 - heroes_df2
rest_p = (remaining/heroes_df_players) * 100

In [206]:
Summary = pd.DataFrame({
    "Total Count": [[heroes_df1], [heroes_df2], [remaining]],
    "Percentage of Players": [[heroes_male_p], [heroes_female_p], [rest_p]],
})

Summary.index.name = 'Male', 'Female', 'Other'

Summary

                      Total Count Percentage of Players
(Male, Female, Other)
0                           [484]   [84.02777777777779]
1                            [81]             [14.0625]
2                            [11]  [1.9097222222222223]

In [207]:
print("Purchasing Analysis (Gender)")

Purchasing Analysis (Gender)

In [208]:
# Male
gender_m = heroes_pd.loc[heroes_pd["Gender"] == 'Male']
print(len(gender_m))
gender_m_price = gender_m['Price'].mean()
total_m = gender_m['Price'].sum()
avg_total_m = total_m/heroes_df1

# Female
gender_f = heroes_pd.loc[heroes_pd["Gender"] == 'Female']
gender_f_price = gender_f['Price'].mean()
total_f = gender_f['Price'].sum()
avg_total_f = total_f/heroes_df2

# Weird 
gender_other = heroes_pd.loc[heroes_pd["Gender"] == 'Other / Non-Disclosed']
gender_other_price = gender_other['Price'].mean()
total_o = gender_other['Price'].sum()
avg_total_o = total_o/remaining

652

In [246]:
purchasing_analysis = pd.DataFrame({"Total Purchase Count": [len(gender_m), len(gender_f), len(gender_other)],
                                    "Average Purchase Price": [round(gender_m_price, 2), gender_f_price, gender_other_price],
                                    "Total Purchase Value": [total_m, total_f, total_o],
                                    "Avg Total Purchase per Person by Gender": [avg_total_m, avg_total_f, avg_total_o],
                                   })
purchasing_analysis.rename(index={0: 'Male', 1: 'Female', 2: 'Other'}, inplace=True)
# Purchase Count

purchasing_analysis

,Total Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person by Gender
Male,652,3.020000,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other,15,3.346000,50.19,4.562727

In [210]:
print("Age Demographics")

Age Demographics

In [211]:
# Bins

# Create bins for ages 
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 40]

# I need to correct the ages and the bins 

group_labels = [">10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39",  "40+"]

heroes_pd["Age Group"] = pd.cut(heroes_pd["Age"], bins, labels=group_labels)
heroes_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [212]:
unique_dups["Age Group"] = pd.cut(unique_dups["Age"], bins, labels=group_labels)
unique_dups.head()

C:\Users\Jesus Redentor\Anaconda3\envs\PythonRules\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [247]:
# This data is incomplete

age_groups = unique_dups.groupby("Age Group")

age_groups_count = (age_groups["SN"].count())

#list = []
#for i in age_groups_count:
    #age_groups_count[i] = age_groups_count.['Total Count']

columns = ["A", "N"]    
df_age = pd.DataFrame(age_groups_count)
df_age.columns = ["Total Count"]
df_age["Total Percentage"] = (df_age["Total Count"]/len(heroes_df_players)) * 100
df_age

TypeError: object of type 'int' has no len()

In [234]:
age_groups["Percentage"] = unique_dups(" ")
age_groups

TypeError: 'DataFrame' object is not callable

In [245]:
df_purchases = heroes_pd.groupby(["SN","Price"]).size().reset_index().groupby("SN")[[0]]
df_purchases.head()

     0
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
10   1
11   1
12   1
13   1
14   1
15   1
16   1
17   1
18   1
19   1
20   1
21   1
22   1
23   1
24   1
25   1
26   1
27   1
28   1
29   1
..  ..
749  1
750  1
751  1
752  1
753  1
754  1
755  1
756  1
757  1
758  1
759  1
760  1
761  1
762  1
763  1
764  1
765  1
766  1
767  1
768  1
769  1
770  1
771  1
772  1
773  1
774  1
775  1
776  1
777  1
778  1

[779 rows x 1 columns]

In [236]:
list = []
item_purchases = heroes_pd.groupby(["Item Name"]).size().reset_index(name="Count")
most_popular_items = item_purchases.nlargest(5, "Count")
list.append(most_popular_items)

print(list)

[                                       Item Name  Count
56                                  Final Critic     13
93  Oathbreaker, Last Hope of the Breaking Storm     12
51     Extraction, Quickblade Of Trembling Hands      9
55                          Fiery Glass Crusader      9
92                                       Nirvana      9]

In [250]:
age_groups = heroes_pd.groupby("Age Group")

age_groups_sum = (age_groups["Price"].count())
age_groups_average = (age_groups["Price"].mean())
age_groups_total = (age_groups["Price"].sum())


df_age_1 = pd.DataFrame(age_groups_sum)
df_age_1.columns = ["Total Purchases"]
df_age_1["Avg Price"] = age_groups_average
df_age_1["Total Purchase Value"] = age_groups_total
df_age_1["Avg Total Purchase per Person"] = df_age_1["Total Purchase Value"]/df_age["Total Count"]
#df_age['Total Percentage'] = (df_age['Total Count']/len(df_players)) * 100
df_age_1.head()

KeyError: 'Age Group'

In [242]:
print("Top Spenders")

Top Spenders

In [239]:
players = heroes_pd.groupby("SN")

players_count = (players["Price"].sum())
players_sum = (players["SN"].count())
purchase_price = (players["Price"].mean())


df_players = pd.DataFrame(players_count)
df_players['Total Purchase Count'] = players_sum
df_players['Purchase Price'] = players_count/players_sum


df_players.nlargest(5, 'Price')

             Price  Total Purchase Count  Purchase Price
SN
Lisosia93    18.96                     5        3.792000
Idastidru52  15.45                     4        3.862500
Chamjask73   13.83                     3        4.610000
Iral74       13.62                     4        3.405000
Iskadarya95  13.10                     3        4.366667

In [248]:
print("Most Popular Items and Most Profitable Items")

Most Popular Items and Most Profitable Items

In [240]:
item = heroes_pd.groupby("Item Name")

item_count = (item["Item Name"].count())
item_sum = (item["Price"].sum())
purchase_price = (item["Price"].mean())


df_players = pd.DataFrame(purchase_price)
df_players['Total Purchase Count'] = item_count
df_players['Total Purchase Value'] = item_sum


df_players.nlargest(5, 'Total Purchase Count')

,Price,Total Purchase Count,Total Purchase Value
Item Name,,,
Final Critic,4.614615,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",4.230000,12,50.76
"Extraction, Quickblade Of Trembling Hands",3.530000,9,31.77
Fiery Glass Crusader,4.580000,9,41.22
Nirvana,4.900000,9,44.10

In [251]:
#3 TRENDS

In [ ]:
#1. There are 576 playes, from those, 84% are male and only 16% are female. Although there are more man, the average purchase per per person is higher in the Female gender. 
#2. Almost half of the players (45% aprox.) are between 20 â€“ 24 years old. Older generations have an Avg Total Purchase per Person higher than this group ($4.54 vs $4.32)
#3. The top spender spent $18.96.